@charset "utf-8";


/*-------------------------
共通部分
---------------------------*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}



/*-------------------------
ヘッダー
---------------------------*/
header {
  height: 70px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
}

.logo {
  width: 80px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  transition: all 0.5s;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
}

/*-------------------------
ナビゲーションバー
---------------------------*/
.nav_item {
    float:left;
    width: 120px;
    padding:5px 0;
    text-align: center;
    font-weight: bold;
}

/*-------------------------
ボタン達
---------------------------*/
.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 10px 26px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
  font-size: 16px;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #ff4545;
  margin-top: 40px;
}

.green {
  background-color: #1abc9c;
  margin-top: 40px;
}

.pink{
  background-color: #ff4545;
  margin-top: 5px;
}


/*-------------------------
会員登録・ログイン
---------------------------*/
.signup-wrapper {
  height: 350px;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  text-align: center;
}

.signup-wrapper h2{
  font-size: 25px;
  margin-bottom: 30px;
  color: #434343;
  letter-spacing: 2px;
}

.signup-wrapper label{
  font-size: 16px;
  color: #434343;
}

.form-control{
  height: 20px;
  width:300px;
}


.form-group{
  margin-bottom: 20px;
}

.comment{
  font-size: 12px;
  color: #434343;
}

/*-------------------------
プロフィール
---------------------------*/
.profile-wrapper {
  height: 300px;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f7f7f7;
  text-align: left;
}

.profile-wrapper img{
  width: 100px;
}

.profile-wrapper h2{
  font-size: 25px;
  margin-bottom: 30px;
  color: #434343;
  letter-spacing: 2px;
}

.profile-wrapper h3{
  font-size: 20px;
  margin-top: 30px;
  color: #434343;
}

.profile-wrapper td{
  font-size: 16px;
  color: #434343;
  margin:20px;
}

/*-------------------------
求人一覧
---------------------------*/
.jobboard-wrapper {
  margin-top: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.profile-wrapper img{
  width: 90px;
  padding: 10px;
}

.jobboard-wrapper h2{
  font-size: 25px;
  margin-bottom: 30px;
  color: #434343;
  letter-spacing: 2px;
}


.jobtable {
  width: 90%;
  margin: 2px 0px 2px;
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  color: #434343;
}

.jobtable th {
  width: 25%;
  text-align: left;
  padding: 10px 5px 5px 25px;
  border: 1px solid #e3e3e3;
  font-weight: normal;
  vertical-align: middle;
  background-color: #f6f6f6;
}

.jobtable td {
  height: 60px;
  vertical-align: middle;
  padding: 10px 5px 5px 25px;
  border: 1px solid #e3e3e3;
}

.jobtable tr:hover {
  background: #ffebf5;
  font-weight: bold;
}

/*-------------------------
仕事入力
---------------------------*/
.joborder-wrapper {
  height: 600px;
  margin-top: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
  text-align: center;
}

.joborder-wrapper h2{
  font-size: 25px;
  margin-bottom: 30px;
  color: #434343;
  letter-spacing: 2px;
}

.joborder-wrapper h3{
  font-size: 18px;
  margin-bottom: 30px;
  color: #434343;
}

.joborder-wrapper label{
  color: #434343;
  padding-bottom: 10px;
}

.form-large{
  height: 80px;
  width:300px;
}


/*-------------------------
フッター
---------------------------*/
footer {
  padding-top: 30px;
  text-align: center;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

